[Unit]
Description=Beaker scheduler
After=mysqld.service mariadb.service

[Service]
Type=forking
PIDFile=/run/beaker/beakerd.pid
ExecStart=/usr/bin/beakerd
User=apache
Group=apache

[Install]
WantedBy=multi-user.target

