[submodule "bootstrap"]
	path = Server/assets/bootstrap
	url = git://github.com/twbs/bootstrap.git
[submodule "font-awesome"]
	path = Server/assets/font-awesome
	url = git://github.com/FortAwesome/Font-Awesome.git
[submodule "typeahead.js"]
	path = Server/assets/typeahead.js
	url = https://github.com/twitter/typeahead.js.git
[submodule "underscore"]
	path = Server/assets/underscore
	url = https://github.com/jashkenas/underscore.git
[submodule "backbone"]
	path = Server/assets/backbone
	url = https://github.com/jashkenas/backbone.git
[submodule "moment"]
	path = Server/assets/moment
	url = https://github.com/moment/moment.git
[submodule "bootstrap-select"]
	path = Server/assets/bootstrap-select
	url = https://github.com/silviomoreto/bootstrap-select
[submodule "backgrid"]
	path = Server/assets/backgrid
	url = https://github.com/wyuenho/backgrid.git
[submodule "backbone-pageable"]
	path = Server/assets/backbone-pageable
	url = https://github.com/wyuenho/backbone-pageable.git
[submodule "URI.js"]
	path = Server/assets/URI.js
	url = https://github.com/medialize/URI.js.git
[submodule "bootbox"]
	path = Server/assets/bootbox
	url = https://github.com/makeusabrew/bootbox.git
	branch = v3.x
[submodule "bootstrap-growl"]
	path = Server/assets/bootstrap-growl
	url = https://github.com/ifightcrime/bootstrap-growl.git
[submodule "bootstrap-datepicker"]
	path = Server/assets/bootstrap-datepicker
	url = https://github.com/eternicode/bootstrap-datepicker.git
[submodule "marked"]
	path = Server/assets/marked
	url = https://github.com/chjj/marked.git
[submodule "moment-duration-format"]
	path = Server/assets/moment-duration-format
	url = https://github.com/jsmreese/moment-duration-format.git
