*.pyc
*.swp
*.tmp
dist
rpm-build
*.egg-info
*.bz2
Harness/build
Server/build
Server/build.out
Server/devdata.sqlite
Server/setup.py
Common/bkr/__init__.py
Common/build
Common/setup.py
Client/build
Client/build.out
Client/setup.py
Client/doc/bkr-*.rst
LabController/build
LabController/setup.py
IntegrationTests/build
IntegrationTests/setup.py
*.diff
selenium.log
/Tasks/distribution/beaker/dogfood/selenium-server-standalone-2.21.0.jar
