*.pyc
*.swp
*.tmp
dist
rpm-build
*.egg-info
*.bz2
Harness/build
Server/build
Server/devdata.sqlite
Server/setup.py
Common/bkr/__init__.py
Common/build
Common/setup.py
Client/build
Client/setup.py
LabController/proxy/build
LabController/proxy/setup.py
*.diff
