*.pyc
*.swp
*.tmp
dist
rpm-build
*.egg-info
*.bz2
Harness/build
Server/assets/.webassets-cache/
Server/build
Server/build.out
Server/devdata.sqlite
Server/bkr/server/static/.webassets-cache/
Server/bkr/server/static/webassets-external/
Common/build
Client/build
Client/build.out
LabController/build
IntegrationTests/build
documentation/_build
documentation/man/bkr-*.rst
*.diff
selenium.log
/Tasks/distribution/beaker/dogfood/selenium-server-standalone-*.jar
/rpmbuild-output/
