[global]
# This is where all of your settings go for your development environment
# Settings that are the same for both development and production
# (such as template engine, encodings, etc.) all go in 
# beaker/server/config/app.cfg
sqlalchemy.dburi="mysql://beaker:beaker@localhost/beaker_test?charset=utf8"
sqlalchemy.pool_recycle = 3600

# Separate database used only for migration tests. This config setting does not 
# exist in any other configs, it's only for tests.
beaker.migration_test_dburi = 'mysql://beaker:beaker@localhost/beaker_migration_test?charset=utf8'

basepath.rpms = './test-rpms'
basepath.repos = './test-repos'
basepath.logs = './test-server-joblogs'
basepath.harness = './test-harnessdir'

visit.token_secret_key = 'testkey'
identity.ldap.enabled = True
identity.soldapprovider.uri = 'ldap://localhost:3899/'
identity.soldapprovider.basedn = 'dc=example,dc=invalid'
identity.soldapprovider.autocreate = True
identity.soldapprovider.timeout = 10

tg.strict_parameters = True
server.socket_port=9090
tg.url_domain='localhost:9090'
tg.url_scheme='http'

mail.on = True
mail.manager = 'immediate'
mail.transport = 'smtp'
mail.provider = 'smtp'
mail.smtp.server = '127.0.0.1:19999'
mail.smtp.tls = False
beaker_email = 'beaker-integration-tests@example.com'
beaker.reliable_distro_tag = 'RELEASED'
beaker.motd = 'motd.xml'
beaker.max_running_commands = 10
beaker.ks_meta = ''
beaker.kernel_options = 'noverifyssl'
beaker.kernel_options_post = ''
basepath.assets = '../Server/assets'
basepath.assets_cache = '../Server/assets-cache'
assets.auto_build = True
openstack.dashboard_url = 'http://openstack.example.invalid/dashboard/'
