[Unit]
Description=Beaker watchdog
After=httpd.service

[Service]
Type=forking
PIDFile=/run/beaker-lab-controller/beaker-watchdog.pid
ExecStart=/usr/bin/beaker-watchdog
User=apache
Group=apache

[Install]
WantedBy=multi-user.target

