[Unit]
Description=Beaker proxy
After=httpd.service

[Service]
Type=forking
PIDFile=/run/beaker-lab-controller/beaker-proxy.pid
ExecStart=/usr/bin/beaker-proxy
User=apache
Group=apache

[Install]
WantedBy=multi-user.target

