div.external-report {
  margin: 1em 1.5em;
  display: inline-block;
  width: 30em;
  word-wrap: break-word;
  vertical-align: top;
}

.offset {
    margin: 1em 1.5em;
}

span.url {
  font-weight:bold;
}
