ul.nacks > li { float: left; width: 10%; }
ul.nacks > li:nth-child(10a + 1) { clear: left; }


.margined {
  margin:1.25em 1.25em 1.25em 0; 
}

#widget td {
  vertical-align:middle
}

.task-header {
    text-align: left;
    padding-left:25px;
    background-color:#4F4F4F;
    color:#FFFFFF;
    min-width: 200px;
}

outer-headers {
    text-align: center;
}

.task-name {
    vertical-align:middle;
    text-align:left;
}

.whiteboard {
    width:600px;
}

.matrix-header {
    background-color:#4F4F4F;
    color:#FFFFFF;
    padding-bottom: 5px;
    padding-top: 5px;
    vertical-align:top;
}

.center-align {
    text-align:center;
}


.matrix-whiteboard {
    font-size: 0.9em;
    padding:5px 5px 5px 5px;
    min-width:95px;
    font-weight:normal;
}

.result-box {
  color: white;
  font-size: 0.9em;
  margin-top: 0.25em;
  margin-bottom:0.25em;
  font-family:"Courier New";
  font-weight:bold;
}

.whiteboard-header {
    background-color:#F1F1F1;
    color:#4F4F4F;
    text-align:center;
    min-width:131px;

}

.cell-border {
    border-color: #000;
    border-width:0 1px 0 0;
    border-style:solid;
}

.border-coloured {
    border-color:#4F4F4F;
}
.border-white {
    border-color:#FFF;
}

.inline {
  display:inline
}

.pass {
  background-color: green;
}

.fail {
  background-color:red;
}

.warn {
  background-color:orange;
}

.new {
  background-color:blue
}

.panic {
  background-color:black
}

.results {
   text-align:center;
}

