.reserveworkflow {
    margin: 0 3em;
}
.reserveworkflow label {
    display: inline-block;
    min-width: 5em;
    font-size: 1em;
}
.reserveworkflow select {
    margin-bottom: 0.75em;
    min-width: 5em;
}
