<table class="table table-bordered table-hover access-policy-table">
    <thead>
      <tr>
        <th></th>
        <% _.each(possible_permissions, function (permission) { %>
          <th><%- permission.label %></th>
        <% }); %>
      </tr>
    </thead>
    <tbody class="group-rows">
      <tr>
        <th colspan="<%- possible_permissions.length + 1 %>">Group</th>
      </tr>
      <!-- group rows go here -->
      <% if (!readonly) { %>
        <tr>
          <td colspan="<%- possible_permissions.length + 1 %>">
            <div class="input-append">
              <input type="text" id="access-policy-group-input" placeholder="Group name" />
              <button class="btn add" type="button"><i class="fa fa-plus"></i> Add</button>
            </div>
          </td>
        </tr>
      <% } %>
    </tbody>
    <tbody class="user-rows">
      <tr>
        <th colspan="<%- possible_permissions.length + 1 %>">User</th>
      </tr>
      <!-- user rows go here -->
      <% if (!readonly) { %>
        <tr>
          <td colspan="<%- possible_permissions.length + 1 %>">
            <div class="input-append">
              <input type="text" id="access-policy-user-input" placeholder="Username" />
              <button class="btn add" type="button"><i class="fa fa-plus"></i> Add</button>
            </div>
          </td>
        </tr>
      <% } %>
    </tbody>
    <tbody class="everybody-row">
      <!-- everybody row goes here -->
    </tbody>
</table>
