<% comments.each(function (comment) { %>
  <div class="comment">
    <p class="comment-metadata">
      <%= comment.get('user').toHTML() %> commented
      <time datetime="<%- moment.utc(comment.get('created')).toISOString() %>"
            title="<%- moment.utc(comment.get('created')).local().format('YYYY-MM-DD HH:mm:ss Z') %>">
        <%- moment.utc(comment.get('created')).fromNow() %>
      </time>
    </p>
    <%= marked(comment.get('comment'), {sanitize: true, smartypants: false}) %>
  </div>
<% }) %>
