<p>If you have not set a root password, Beaker will use the site-wide default 
root password: <code><%- default_root_password %></code></p>
<p>Historical and upcoming default root passwords are shown in the following 
table.</p>
<table class="table table-striped table-hover table-one-line-per-row default-root-passwords">
  <thead>
    <tr><th>Default root password</th><th>Effective from</th></tr>
  </thead>
  <tbody>
    <% _.each(default_root_passwords, function (item) { %>
      <tr>
        <td><code><%- item.value %></code></td>
        <td class="datetime"><%- moment.utc(item.valid_from).local().format('YYYY-MM-DD HH:mm:ss Z') %></td>
      </tr>
    <% }) %>
  </tbody>
</table>
