<form>
  <div class="modal-header">
    <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
    <h3>Create group</h3>
  </div>
  <div class="modal-body">
    <label for="group_name">Name</label>
    <input type="text" id="group_name" name="group_name" class="input-block-level"
        placeholder="Group name" required maxlength="255"
        pattern="[^\s/]([^/]*[^\s/])?"
        title="Group name of up to 255 characters, excluding /"/>
    <label for="display_name">Display Name</label>
    <input type="text" id="display_name" name="display_name" class="input-block-level"
        placeholder="Display name" required maxlength="255"
        title="Display name of up to 255 characters"/>
    <label for="membership_type">Membership Type</label>
    <select id="membership_type" name="membership_type">
      <option value="normal">Normal</option>
      <% if (can_create_ldap) { %>
      <option value="ldap">LDAP</option>
      <% } %>
      <option value="inverted">Inverted</option>
    </select>
    <p class="help-block">
       Specifies how group membership is populated:
    </p>
    <ul class="help-block">
       <li>Normal: Group is initially empty, members are explicitly added and removed by
           the group owner.
       <% if (can_create_ldap) { %>
       <li>LDAP: Membership is populated from the LDAP group with the same group name.
       <% } %>
       <li>Inverted: Group contains all Beaker users <em>except</em> users who have been explicitly
           excluded by the group owner.
    </ul>
  </div>
  <div class="modal-footer">
    <div class="sync-status"/>
    <button type="button" class="btn" data-dismiss="modal" data-loading-text="Cancel">Cancel</button>
    <button type="submit" class="btn btn-primary" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Creating&hellip;">Create</button>
  </div>
</form>
