<% if (can_view_rootpassword) { %>
  <% if (root_password) { %>
  <p>
  The group root password is: <code><%- root_password %></code>
  </p>
  <% } else { %>
  <p>
    No group root password set. Group jobs will use the root password preferences of the submitting user.
  </p>
  <% } %>
<% } else { %>
    <p>You do not have permission to view this group's root password.</p>
<% } %>
<% if (can_edit) { %>
    <form>
      <div class="input-append">
        <input type="password" name="root_password" placeholder="New root password" />
        <button type="submit" class="btn" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Saving&hellip;">Save</button>
      </div>
    </form>
<% } %>
