<td>
  <input type="checkbox" class="recipe-reviewed" title="Reviewed?" <%if (reviewed) { %>checked="checked"<% }; if (!can_set_reviewed_state) { %>disabled="disabled"<% } %> />
</td>
<td>
  <a class="recipe-id" href="<%- beaker_url_prefix %>recipes/<%- id %>"><abbr title="<% if (guest) { %>Guest <% } %>Recipe">R</abbr>:<%- id %></a>
</td>
<td class="recipe-metadata">
  <span class="recipe-whiteboard"><%= whiteboard_html %></span>
  <% if (!_.isEmpty(role) && role != "None" && role != "RECIPE_MEMBERS" && role != "STANDALONE") { %>
    <span class="recipe-role">
      Role: <%- role %>
    </span>
  <% } %>
  <span class="recipe-distro">
    <%- distro_tree && distro_tree.toString() %>
  </span>
  <span class="recipe-resource">
    <%- resource && resource.get('fqdn') %>
  </span>
</td>
<td class="recipe-comments">
  <!-- recipe comments would go here -->
</td>
<td class="recipe-status"><% /* populated by the render() method */ %></td>
