<span class="bordered-text"><%- fqdn %></span><button class="btn dropdown-toggle system-actions" data-toggle="dropdown" aria-label="System actions"><span class="caret"></span></button>
<ul class="dropdown-menu" role="menu">
  <% if (typeof system != 'undefined' && system) { %>
    <li><a href="<%- beaker_url_prefix %>view/<%- encodeURIComponent(system.get('fqdn')) %>#details">
      <i class="fa fa-fw fa-server"></i>
      View system details
    </a></li>
    <li><a href="#" class="report-problem"><i class="fa fa-fw fa-send-o"></i> Report problem</a></li>
  <% } %>
  <li><a href="#" class="copy-hostname"><i class="fa fa-fw fa-clipboard"></i> Copy hostname to clipboard</a></li>
  <% if (recipe_status == 'Running' || recipe_status == 'Reserved') { %>
    <li><a href="http://<%- fqdn %>/"><i class="fa fa-fw fa-link"></i> View http://<%- fqdn %>/</a></li>
  <% } %>
</ul>
