<% comments.each(function (comment) { %>
  <div class="comment">
    <p class="comment-metadata">
      <%= comment.get('user').toHTML() %> commented
      <time datetime="<%- moment.utc(comment.get('created')).toISOString() %>"
            title="<%- comment.get('created') %>">
        <%- moment.utc(comment.get('created')).local().fromNow() %>
      </time>
    </p>
    <%= marked(comment.get('comment'), {sanitize: true, smartypants: false}) %>
  </div>
<% }) %>
<% if (can_comment) { %>
  <div class="comment">
    <form class="new-comment">
      <textarea name="comment" class="input-block-level" rows="5" />
      <div class="sync-status"/>
      <button type="submit" class="btn btn-primary" data-loading-text="<i class='fa fa-spin fa-spinner'></i> Commenting&hellip;">Comment</button>
    </form>
  </div>
<% } %>
