<p class="recipe-console-output">
<% if (console_log) { %>
    <a href="<%- console_log.href %>"><i class="fa fa-terminal fa-border fa-sm"></i> Console output</a>
<% } else { %>
    <i class="fa fa-times"></i> No console output
<% } %>
</p>
<% if (!_.isNull(time_remaining_seconds)) { %>
    <p class="recipe-watchdog-time-remaining">
        Remaining watchdog time: <span class="recipe-watchdog-countdown"><%-
             moment.duration(time_remaining_seconds, 'seconds').format("hh:mm:ss", {trim: false})%></span>
    </p>
<% } %>
