<div class="alternative-formats">
  <p>View as:</p>
  <ul><li><a href="<%- id %>.xml">Beaker results XML</a></li><li><a href="<%- id %>.junit.xml">JUnit XML</a></li></ul>
</div>
<div class="page-header">
    <h1>
        <span class="recipe-id<% if (is_deleted) { %> deleted-recipe-id<% } %>"><abbr title="Recipe">R</abbr>:<%- id %></span>
        <small>
          <%- position_in_job %> of <%- recipeset.get('job').get('recipe_count') %> recipes in <%= recipeset.get('job').toHTML()%>
        </small>
        <div class="btn-group recipe-btn-group">
        <% if (can_edit) { %>
            <button class="btn edit"><i class="fa fa-pencil-square-o"></i> Edit</button>
        <% } %>
        <a href="<%- clone_href %>" class="btn"><i class="fa fa-copy"></i> Clone</a>
        </div>
    </h1>
    <% if (is_deleted) { %>
    <div class="alert alert-warning">
        <i class="fa fa-exclamation-triangle"></i>
        This job has been deleted. It will not appear in search results.
        Task results and logs are no longer available.
    </div>
    <% } %>
</div>
