<div class="recipe-installation-summary">
    <div>
        <% if (installation && installation.get('install_finished')) { %>
            Installation of <%= installation.getDistroSummary() %> finished.
        <% } else if (status == 'Installing') { %>
            Installing <%= installation.getDistroSummary() %>.
        <% } else if (installation && installation.get('rebooted') && status == 'Aborted') { %>
            Installation of <%= installation.getDistroSummary() %> aborted.
        <%/*  installation can be null on some recipes prior to Beaker 25.0  */%>
        <% } else if (!installation) { %>
            No installation progress reported.
        <% } else { %>
            Installation of <%= installation.getDistroSummary() %> not started.
        <% } %>
    </div>
    <div class="recipe-installation-logs">
        <% /* installation logs go here */ %>
    </div>
    <div class="recipe-installation-status">
        <% if (installation && installation.get('install_finished')) { %>
            <span class="label label-success">Completed</span>
        <% } else if (status == 'Installing') { %>
            Installing
        <% } else if (status == 'Aborted' || status == 'Cancelled') { %>
            <span class="label label-warning"><%- status %></span>
        <% } %>
    </div>
</div>
<div class="recipe-installation-details">
    <% /* populated by the render() method */ %>
</div>
