<p>
  <% if (start_time) { %>
  Started
  <time datetime="<%- moment.utc(start_time).toISOString() %>"
        title="<%- moment.utc(start_time).local().format('YYYY-MM-DD HH:mm:ss Z') %>">
    <%- moment.utc(start_time).fromNow() %></time><% if (is_finished) { %> and
        finished in
        <time datetime="<%- moment.utc(finish_time).toISOString() %>"
              title="<%- moment.utc(finish_time).local().format('YYYY-MM-DD HH:mm:ss Z') %>">
        <%- moment.utc(moment(finish_time,"DD/MM/YYYY HH:mm:ss").diff(moment(start_time,"DD/MM/YYYY HH:mm:ss"))).format("HH:mm:ss")%></time><% } %>.
  <% } else { %>
      <%
        // If a recipe is aborted or cancelled and was never started,
        // we use the started time of the last task result as the time
        // that the recipe was aborted or cancelled.
      %>
      <% if (is_finished) { %>
          <%- status %>
          <time datetime="<%- moment.utc(last_result_started).toISOString() %>"
                title="<%- moment.utc(last_result_started).local().format('YYYY-MM-DD HH:mm:ss Z') %>">
            <%- moment.utc(last_result_started).fromNow() %></time>
          without starting.
      <% } else if (recipeset.get('queue_time')) { %>
      Queued
      <time datetime="<%- moment.utc(recipeset.get('queue_time')).toISOString() %>"
            title="<%- moment.utc(recipeset.get('queue_time')).local().format('YYYY-MM-DD HH:mm:ss Z') %>">
      <%- moment.utc(recipeset.get('queue_time')).fromNow() %></time>.<% } %>
  <% } %>
</p>
<p>
  Using <%= distro_tree.toHTML() %><%
  if (!_.isEmpty(resource)) { %>
      <br/>on <%
      if (!_.isEmpty(resource.get('system'))) {
          %><%= resource.get('system').toHTML() %><%
      } else {
          %><%- resource.get('fqdn') %><%
      } %><%
  } %><%
  if (status == 'Queued' && !_.isEmpty(possible_systems)) { %>
      <br/>on
      <a href="<%- beaker_url_prefix %>recipes/systems?recipe_id=<%- id %>">
      <%- _.size(possible_systems) %> possible
      <%- _.size(possible_systems) > 1 ? 'systems' : 'system' %></a><%
  } %><% if (!_.isEmpty(role) && role != 'None' && role != 'STANDALONE' && role != 'RECIPE_MEMBERS') { %>
      <br/>with role <%- role %><%
  } %>.
</p>
