<% if (!_.isEmpty(current_loan)) { %>
  <p>
    <span class="label label-info">Loaned</span>
    to <a href="mailto:<%- current_loan.get('recipient').get('email_address') %>" title="<%- current_loan.get('recipient').get('display_name') %> &lt;<%- current_loan.get('recipient').get('email_address') %>&gt;"><%- current_loan.get('recipient').get('user_name') %></a>.
    <% /* IMPLEMENTME add "since", needs proper loan records */ %>
  </p>
<% } %>
<p>
  <% if (current_reservation) { %>
    <span class="label">Reserved</span>
    by <a href="mailto:<%- current_reservation.get('user').get('email_address') %>" title="<%- current_reservation.get('user').get('display_name') %> &lt;<%- current_reservation.get('user').get('email_address') %>&gt;"><%- current_reservation.get('user').get('user_name') %></a>
    <% if (current_reservation.get('type') == 'recipe') { %>
      for <a href="<%- window.beaker_url_prefix %>recipes/<%- current_reservation.get('recipe_id') %>">R:<%- current_reservation.get('recipe_id') %></a>
    <% } %>
    <time datetime="<%- moment.utc(current_reservation.get('start_time')).toISOString() %>"
          title="<%- current_reservation.get('start_time') %>">
      <%- moment.utc(current_reservation.get('start_time')).local().fromNow() %>
    </time>.
  <% } else { %>
    <span class="label">Idle</span> since
    <% var idle_since = previous_reservation ? previous_reservation.get('finish_time') : created_date; %>
    <time datetime="<%- moment.utc(idle_since).toISOString() %>"
          title="<%- idle_since %>">
      <%- moment.utc(idle_since).local().fromNow() %>
    </time>.
  <% } %>
</p>
<% if (queue_size) { %>
  <p><%- queue_size %> queued recipes could use this system.</p>
<% } %>
<p>
  <% if (can_return) { %>
    <button type="button" class="btn btn-block return">Return</button>
  <% } else if (can_take) { %>
    <button type="button" class="btn btn-block take">Take</button>
  <% } else if (can_borrow) { %>
    <button type="button" class="btn btn-block borrow">Borrow</button>
  <% } else if (can_reserve) { %>
    <a href="<%- beaker_url_prefix %>reserveworkflow/?system=<%- fqdn %>" class="btn btn-block">Reserve</a>
  <% } else if (_.isEmpty(window.beaker_current_user)) { %>
    <button type="button" class="btn btn-block" disabled="disabled">Not logged in</button>
  <% } else { %>
    <a href="#IMPLEMENTME" class="btn btn-block">Request loan</a>
  <% } %>
</p>
