<form>
<div class="modal-header">
  <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
  <h3>Edit hardware details</h3>
</div>
<div class="modal-body" style="max-height: 700px;">
  <label for="hypervisor">Host Hypervisor</label>
  <select id="hypervisor" name="hypervisor">
    <option value="">(not virtualized)</option>
    <% _.each(possible_hypervisors, function (h) { %>
      <option value="<%- h %>"><%- h %></option>
    <% }) %>
  </select>
  <label for="vendor">Vendor</label>
  <input type="text" id="vendor" name="vendor"/>
  <label for="model">Model</label>
  <input type="text" id="model" name="model"/>
  <label for="serial_number">Serial Number</label>
  <input type="text" id="serial_number" name="serial_number"/>
  <label for="mac_address">MAC Address</label>
  <input type="text" id="mac_address" name="mac_address"/>
  <label for="memory">Memory</label>
  <div class="input-append">
    <input type="number" step="1" id="memory" name="memory"/>
    <span class="add-on">MB</span>
  </div>
  <label for="numa_nodes">NUMA Nodes</label>
  <input type="number" step="1" id="numa_nodes" name="numa_nodes"/>
</div>
<div class="modal-footer">
  <button type="button" class="btn" data-dismiss="modal" data-loading-text="Cancel">Cancel</button>
  <button type="submit" class="btn btn-primary" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Saving&hellip;">Save changes</button>
</div>
</form>
