<p>
The system pool has these systems:
</p>
<div>
 <% if (_.isEmpty(systems)) { %>
(none)
<% } %>
<ul class="list-group pool-systems-list">
    <% _.each(systems, function (system) { %>
    <li><a href="/view/<%- encodeURIComponent(system) %>"><%- system %></a>
      <button type="button" class="btn system-remove" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Removing&hellip;" data-system-remove="<%- system %>"><i class="fa fa-times"></i> Remove</button>
    </li>
    <% }) %>
</ul>
</div>