<p>
The following systems are members of this pool:
</p>
<div>
 <% if (_.isEmpty(systems)) { %>
(none)
<% } %>
<ul class="list-group pool-systems-list">
    <% _.each(_.sortBy(systems, function (name) {return name}), function (system) { %>
    <li>
      <% if (system == '<restricted>') { %>
          <em>(system with restricted visibility)</em>
      <% } else { %>
          <a href="<%- beaker_url_prefix %>view/<%- encodeURIComponent(system) %>"><%- system %></a>
      <% } %>
      <% if (can_edit) { %>
          <button type="button" class="btn system-remove" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Removing&hellip;" data-system-remove="<%- system %>"><i class="fa fa-times"></i> Remove</button>
      <% } %>
    </li>
    <% }) %>
</ul>
</div>
