<% if (_.isNull(root_password)) { %>
  <p>You root password is not set.</p>
<% } else { %>
  <p>
    Your root password was set
    <time datetime="<%- moment.utc(root_password_changed).toISOString() %>"
          title="<%- moment.utc(root_password_changed).local().format('YYYY-MM-DD HH:mm:ss Z') %>">
      <%- moment.utc(root_password_changed).fromNow() %></time><% if (!_.isNull(root_password_expiry)) { %>
        and expires
        <time datetime="<%- moment.utc(root_password_expiry).toISOString() %>"
              title="<%- moment.utc(root_password_expiry).local().format('YYYY-MM-DD HH:mm:ss Z') %>">
          <%- moment.utc(root_password_expiry).fromNow() %></time><% } %>.
    The stored hash is:
    <code><%- root_password %></code>
  </p>
<% } %>
<form>
  <div class="input-append">
    <input type="password" name="root_password" placeholder="New root password" />
    <button type="submit" class="btn" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Saving&hellip;">Save</button>
  </div>
</form>
