exclude start-medusa.py
include apache/medusa.wsgi
include apache/xmlrpc_auth.wsgi
include apache/medusa.conf
include AUTHORS README COPYING ChangeLog
include *.cfg
include medusa/templates/*.kid
include medusa/config/*.cfg
include medusa/config/*.conf
include medusa/static/javascript/*
include medusa/static/css/*
include medusa/static/images/*
include medusa.spec
include lab-controller/*
include lab-controller/conf.d/*
include lab-controller/cron.daily/*
include lab-controller/kickstarts/*
include lab-controller/lib/*
include lab-controller/snippets/*
include lab-controller/triggers/sync/post/*
include lab-controller/triggers/install/pre/*
include lab-controller/www/*
include lab-controller/aux/*
