th.list {
  min-width:131px;  
}

td{
  vertical-align:top
}

tr > td:first-child {
  vertical-align:middle
}


input.submit-button {
  margin-left:20em;
  margin-top:2em;
  margin-bottom:2em;
}
.margined {
  margin:1.25em 1.25em 1.25em 0; 
}

#widget td {
  vertical-align:middle
}

#my_datagrid tbody tr:first-child > td:first-child {
  vertical-align:bottom
}

.result-box { 
  color: white;
  font-size: 1.5em;
  margin-top: 0.25em;
  margin-bottom:0.25em
} 

.hidden_header {
  visibility:hidden;
  padding-left:0px;
}

.inline {
  display:inline
}

.pass {
  background-color: green;
}

.fail {
  background-color:red;
}

.warn {
  background-color:orange;
}

.new {
  background-color:blue
}

.panic {
  background-color:black
}
