
table td {
  text-align:center;
  padding-top:0.5em;
}


table {
  -moz-border-radius-topleft: 0.5em;
  -moz-border-radius-topright: 0.5em;
  -webkit-border-top-right-radius: 0.5em;
  -webkit-border-top-left-radius: 0.5em;
}


#outer_table  {
  margin-left:auto;
  margin-right:auto;
  margin-top : 1em;
  margin-bottom : 1em;
  color: #A7B2C9;
  background-color:#22437F;
  border-spacing:0;
  border: outset 0.25em;
  max-width: 90%;
  min-width:90%;
}

#outer_table thead {
  background-color: #34548F;
  color:#FFFFFF;
}

#outer_table a {
  cursor : pointer
}

.inner_table {
  margin-top:3em;
  margin-left:6em;
  color: #A7B2C9;
  background-color:#22437F;
  border-spacing:0;
  display:none; 
}

.inner_table th {
  max-width:15%;
  min-width:5%;
}

#outer_table info {
  font-size:large;
  color:inherit;
  margin-left:6em;
  float:left;
  display:none;
}

.sub_head {
  font-weight:bold;
  padding-top: 2em
}

.toggle_link {
  text-align : left;
  padding-top : 1em; 
  color : white;
}


.rounded-side-pad {
  -moz-border-radius: 0.35em;
  -webkit-border-radius: 0.35em;
  border-radius: 0.25em;
  padding-left:0.25em;
  padding-right:0.25em;
  color:#FFFFFF;
  background-color: #A7B2C9;
}
